h1{
	align: center
	background-color:#ebf9fa
	
}
h3{
	align: center
}
a{
	style:font-size:25px; 
	margin-right: 1rem
	text-align: center
}
pre{
	stylefont-family:arial;
	background-color:#ebf9fa
	align: center
}