h1{
	text-align: center;
	background-color:#ebf9fa
	
}
h3{
	text-align: center
}
a{
	font-size:25px;
	margin-right: 1rem;
	
}
pre{
	font-family: arial;
	background-color:#ebf9fa;
	text-align: center
}
tr{
	text-align: center;
	background-color: #066480;
	color: white;
	border-style: solid;
}
tb{
	text-align: center;
	background-color: #066480;
	color: white;
	border-style: solid;
}
table{
	border-style: solid;
	border-color: white;
	background-color: #004357;
	margin-left: auto;
	margin-right: auto;
}
p{
	text-align: center;
}
li{
	font-size:20px;
}
divEkstra{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
.outerborder {
  padding: 20px;
  background-color: #004357; 
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
}

.content {
  background-color: white; 
  padding: 20px;
  border-radius: 5px;
}
.centering{
	text-align: center;
}