h1{
	text-align: center;
	background-color:#ebf9fa
	
}
h3{
	text-align: center
}
a{
	font-size:25px;
	margin-right: 1rem;
	
}
pre{
	font-family: arial;
	background-color:#ebf9fa;
	text-align: center
}
tr{
	text-align: center;
	background-color: #004357;
	color: white;
	border-style: solid;
}
tb{
	text-align: center;
	background-color: #004357;
	color: white;
	border-style: solid;
}
table{
	border-style: solid;
	border-color: white;
	background-color: #004357;
	margin-left: auto;
	margin-right: auto;
}
p{
	text-align: center;
}
li{
	font-size:20px;
}
div{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}